<div class="modal-header">
	<h1>{{activity.title}}</h1>
</div>
<div class="modal-body">
	<table class="mdl-data-table" style="width:100%">
		<tr>
			<td class="mdl-data-table__cell--non-numeric">Description: </td>
			<td class="mdl-data-table__cell--non-numeric">{{activity.text}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">Category: </td>
			<td class="mdl-data-table__cell--non-numeric">{{activity.category}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">Department / College: </td>
			<td class="mdl-data-table__cell--non-numeric">{{activity.departmentCollege}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">Tags: </td>
			<td class="mdl-data-table__cell--non-numeric">{{activity.tags}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">Description: </td>
			<td class="mdl-data-table__cell--non-numeric">{{activity.text}}</td>
		</tr>
	</table>
			
	
</div>
<div class="modal-footer">
	<button class="mdl-button dangerous" ng-click="delete(activity)" style=".buttonDangerous">Delete</button>
	<button class="mdl-button" ng-click="edit(activity)">Edit</button>
	<button class="mdl-button" ng-click="close()">Close</button>
</div>