<div class="modal-header">
	<h1>{{activity.title}}</h1>
</div>
<div class="modal-body">
	<div class="full-width">
		<div  class="activty-description">{{activity.text}}</div>
	</div>
	<div id="taglist" class="taglist" >
		<a ng-repeat="tag in activity.tags" href="/tag/{{tag.name}}" class="taglist-item">&#35;{{tag.name}}</a>
	</div>
</div>
<div class="modal-footer">
	<button class="mdl-button dangerous" ng-click="delete(activity)">Delete</button>
	<button class="mdl-button" ng-click="edit(activity)">Edit</button>
	<button class="mdl-button" ng-click="close()">Close</button>
</div>