<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
	<title>ActivityMeterApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.1.0/ui-bootstrap-tpls.js"></script>

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	
	<!-- custom StyleSheets BEGIN--> 
	<!--link rel="stylesheet" type="text/css" href="css/table.css" /-->
	<link rel="stylesheet" type="text/css" href="css/activityMeter.css" />
	<style>
	</style>
	<!-- custom StyleSheets END--> 

	<script src="/js/activity.js"></script>
</head>


<body>
<div ng-controller="ActivityCtrl">
	<div id="topnav" class="topnav" style="height:36px">
		<div style="width:100%">
			<div class="card left">
				<a href="/html/default.asp" title="HTML Tutorial" class="topnav-item">html</a>
				<a href="/css/default.asp" title="CSS Tutorial" class="topnav-item active">CSS</a>
			</div>
			<div class="card right">
				<a href="/about.html" class="topnav-item">About</a>
				<a href="/legalInfo.html" class="topnav-item">Legal info / Impressum</a>
				<a href="/privacyPolicy.html" class="topnav-item">Privacy policy</a>
			</div>
		</div>
	</div>
	
	<div class="website-body">
		
		<div id="activitynav" class="topnav" style="height:36px">
			<div style="width:100%">
				<div class="card left">
					<a href="/serch" class="topnav-item" title="Search acivities">Search</a>
					<a href="/filter" class="topnav-item" title="Filter acivities">Filter</a>
					<a href="/remove flter" class="topnav-item dangerous" title="Remove flter">Remove flter</a>
				</div>
				<div class="card right">
					<button class="topnav-item" ng-click="add()">add Activity</button>
				</div>
			</div>
		</div>
		<div class="website-content card" id="main">
			
			<h3>Activities</h3>
			<div class="activtylist" style="width:100%">
				<div ng-repeat="activity in activities" class="activtylist-item">
				
					<div class="activty-body">
						<div style="width: 100%; height:100%; float:left">
							<div class="activty-title" ng-click="viewActivity(activity)">{{activity.title}}</div>
							<div class="activty-description" ng-click="viewActivity(activity)">{{activity.text}}</div>
						</div>
						<div id="taglist" class="taglist" >
							<a ng-repeat="tag in activity.tags" href="/tag/{{tag.name}}" class="taglist-item">&#35;{{tag.name}}</a>
						</div>
					</div>
					<div class="activty-controls">
						<button class="mdl-button" ng-click="edit(activity)">edit</button>
						<button class="mdl-button dangerous" ng-click="delete(activity)">delete</button>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</div>
</body>
</html>