/* Button Styles ------------------------------------------------------------------ */

.dangerous:hover {
  background-color: RGBA(244, 81, 30, 0.6) !important;;
}

/* Activities List ------------------------------------------------------------------ */
/*
table a:link {
	color: #666;	
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

table a:active, table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}
*/
table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	/*text-shadow: 1px 1px 0px #fff;*/
	background: #eaebec;
	border: 0px !important;;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table th {
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background-color: #ededed;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));*/
	/*background: -moz-linear-gradient(top, #ededed, #ebebeb);*/
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr:first-child th:first-child, table tr:first-child td:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

table tr:first-child th:last-child, table tr:first-child td:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

table tr td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

table tr td {
	padding: 18px;
	border-top: 0px !important;
	border-bottom: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	background-color: #fafafa;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));*/
	/*background: -moz-linear-gradient(top, #fbfbfb, #fafafa);*/
}

table tr.even td {
	background-color: #f6f6f6;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));*/
	/*background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);*/
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table tr:hover td {
	background: #f2f2f2;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));*/
	/*background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);*/
}


/* TopNav ------------------------------------------------------------------ */

.card {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: rgb(248,248,248);
	overflow: auto;
}
.card, .topnav {
	margin-bottom: 10px;
}
.topnav {
	position:sticky;
	top: 0px;
	left: 0px;
	z-index: 2;
	font-size: 17px;
	background-color: rgba(255,255,255,0.4);
	color: rgba(0,0,0,1);
	width: 100%;
	padding: 0 0;
	overflow-y:visible
	/*letter-spacing:1px;*/
}

.topnav a {
/*background-color:#4CAF50;*/
 /*! color:rgba(0,0,0,1); */
  text-decoration:none;
}

.topnav-item {
	text-align:center;
	width:auto;
	display:block;
	padding:8px 16px;
	/*! text-align:center; */
	border:none;
	outline:none;
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	white-space:normal;
	float:left;
	color:rgb(0,0,0);
	background-color: rgba(150,150,150,0);
	-webkit-transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1); /* Safari */
	transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

.topnav .active {
background-color:#4CAF50;
color:#ffffff;
}

.topnav-item:hover {
	color:rgb(0,0,0);
	background-color:rgba(158,158,158,.2)
}


.left {float:left !important}
.right {float:right !important}

.website-body {
	/*! margin-top: 44px; */
	margin-left: auto;
	margin-right: auto;
	min-width: 440px;
	width:50%;
}

.website-body:after {
	content: "";
	display: table;
	clear: both;
}

.website-content {
	padding: 5px;
}
h1, h3 {
	text-align: center;
}


.taglist {
	/*position:sticky;*/
	/*top: 0px;*/
	/*left: 0px;*/
	margin: 0px 0px;
	bottom: 100%;
	width: 100%;
	height: 24px;
	display:block;
	float: right;
	padding: 0 0;
	font-size: 12px;
	/*overflow-y:visible;*/
	/*letter-spacing:1px;*/
	/*background-color: rgba(150,150,150,0.3);*/
}

.taglist a {
/*background-color:#4CAF50;*/
 /*! color:rgba(0,0,0,1); */
  text-decoration:none;
	color: #666;
}

.taglist-item {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:auto;
	padding:0px 10px;
	margin: 2px;
	border:none;
	outline:none;
	text-align:center;
	display:block;
	/*font-size:14px;*/
	/*font-weight:500;*/
	float:left;
	color: #666;
	/*background-color: rgba(150,150,150,0.1);*/
	-webkit-transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1); /* Safari */
	transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

.taglist-item:hover {
	/*color:rgb(0,0,0);*/
	background-color:rgba(158,158,158,.2)
}


.activtylist {
	/*position:sticky;*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0 0;
	/*overflow-y:visible;*/
	/*letter-spacing:1px;*/
}


.activtylist-item {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:100%;
	padding:0px 0px;
	margin: 2px;
	border:none;
	outline:none;
	text-align:left;
	/*display:block;*/
	/*font-size:14px;*/
	/*font-weight:500;*/
	display:flex;
	float:left;
	color: #666;
	/*background-color: rgba(150,150,150,0.3);*/
	-webkit-transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1); /* Safari */
	transition: background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

.activtylist-item:hover {
	/*color:rgb(0,0,0);*/
	background-color:rgba(158,158,158,.1)
}

.activty-title {
	width: 25%;
	/*padding:0px 10px;*/
	margin: 2px 0px;
	border:none;
	outline:none;
	text-align:left;
	/*display:block;*/
	float:left;
	color: #666;
	/*background-color: rgba(150,150,150,0.3);*/
}

.activty-description {
	width: 75%;
	height: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
	border:none;
	outline:none;
	text-align:left;
	/*display:block;*/
	float:left;
	color: #666;
	/*background-color: rgba(150,150,150,0.3);*/
}

.activty-controls {
	width: 190px;
	padding: 2px 0px;
	margin: 0px 4px;
	border:none;
	outline:none;
	text-align:center;
	display:block;
	float:right;
	color: #666;
	/*background-color: rgba(150,150,150,0.3);*/
}

.activty-body {
	width:100%;
	padding:0px 3px;
	margin: 2px;
	border:none;
	outline:none;
	text-align:center;
	display:flex;
	flex-direction:column;
	float:left;
	color: #666;
	/*background-color: rgba(150,200,200,0.3);*/
}

.modal-body {
	/*z-index: 2 !important;*/
  overflow-y:visible;
	/*background-color: rgba(150,200,200,0.3);*/
}

.mdl-textfield__label {
  color:rgba(0,0,0,1);
  padding-left: 3px;
	padding-right: 3px;
	font-size:15px;
  position:unset;
  display:block; 
}

.mdl-textfield__input {
  padding-left: 6px;
	padding-right: 6px;
	box-sizing:border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22) inset !important;
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22) inset !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22) inset !important;
	/*background-color: rgb(248,248,248);*/
	overflow: auto;
}

.mdl-textfield {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
	margin-block-start: 0;
}
